<!-- ===== FOOTER ===== -->
<footer class="footer">

    <!-- ===== FOOTER CONTENT INFORMATION ===== -->
    <section class="section-positive">
        <div class="container">

            <div class="row mt-70 mb-30">

                <!-- ===== SITEMAP ===== -->
                <div class="col-sm-3 mb-40">
                    <h2 class="title-separator white">Sitemap</h2>
                    <ul class="footer-list">
                        {% for page in site.pages %}
                        <li><a href="{{page.url}}">{{page.title}}</a></li>
                        {% endfor %}
                    </ul>
                </div>

                <!-- ===== PODCASTS EPISODES ===== -->
                <div class="col-sm-3 mb-40">
                    <h2 class="title-separator white">Latest Episodes</h2>
                    <ul class="footer-complement">
                        {% for ep in site.posts limit: 5 %}
                        <li>
                            <a href="{{ep.url}}">{{ep.title}}</a>
                            <span>{{ep.date | date: "%b %-d, %Y" }}</span>
                        </li>

                        {% endfor %}
                    </ul>
                </div>

                <!-- ===== PODCASTS EPISODES ===== -->
                <div class="col-sm-3 mb-40">
                    <h2 class="title-separator white">Co-hosts</h2>
                    <ul class="footer-complement">
                        {% for profile in site.data.profiles.info %}
                        {{host}}
                        {% if profile.main_cohost == true %}
                        <li>
                            <a href="https://writethedocs.slack.com/team/{{profile.slack_handle}}">@{{profile.slack_handle}}</a>
                            <span>{{profile.name}}</span>
                        </li>
                        {% endif %}
                        {% endfor %}

                    </ul>
                </div>

                <!-- ===== SOCIAL CONNECTION ===== -->
                <div class="col-sm-3 mb-40">
                    <h2 class="title-separator white">Links</h2>
                    <ul class="social-list">
                        <!-- <li class="social-item"><a href="#" target="_blank"><i class="fa-podcast"></i></a></li>-->
                        <li class="social-item"><a href="https://writethedocs.slack.com/messages/podcast" target="_blank"><i class="fa fa-slack"></i></a></li>
                        <li class="social-item"><a href="https://www.youtube.com/channel/UCUI--N-VWjK93292AaaArCg" target="_blank"><i class="fa fa-youtube"></i></a></li>
                        <li class="social-item"><a href="http://writethedocspodcast.com/feed.xml" target="_blank"><i class="fa fa-rss"></i></a></li>
                    </ul>
                </div>

            </div>

        </div>
    </section>

    <!-- ===== FOOTER INFORMATION ===== -->
    <section class="footer-credits">
        <div class="container">

            <div class="row">

                <!-- ===== CREDIT LOGO ===== -->
                 <div class="col-sm-6 footer-logo">
                     <h2><!--<a href="index.html"><img src="{{site.url}}/assets/img/logo.png" alt="{{site.title}}" title="{{site.title}}" /></a>--></h2>
                 </div>

                 <!-- ===== CREDIT LOGO ===== -->
                <div class="col-sm-6 text-right">
                    {{site.title}} - 2016. All rights reserved.
                </div>

            </div>

        </div>
    </section>

</footer>

<!-- =================================== -->
<!-- 			  SCRIPTS 				 -->
<!-- =================================== -->

<!-- JQUERY -->
<script src="{{site.url}}/assets/js/jquery-1.11.min.js"></script>

<!-- BOOTSTRAP JS -->
<script src="{{site.url}}/assets/js/bootstrap.min.js"></script>

<!-- MEDIA ELEMENT -->
<script src="{{site.url}}/assets/js/mediaelement-and-player.min.js"></script>

<!-- MAGNIFIC POPUP -->
<script src="{{site.url}}/assets/js/magnific-popup.min.js"></script>

<!-- FORM VALIDATE -->
<script src="{{site.url}}/assets/js/validate.min.js"></script>

<!-- PLACEHOLDER FOR IE -->
<script src="{{site.url}}/assets/js/placeholder.min.js"></script>

<!-- THEME JS -->
<script src="{{site.url}}/assets/js/main.js"></script>