<!-- ===== NEWSLETTER ===== -->
<section class="section-positive text-center">
    <div class="container">

        <!-- ===== SECTION TITLE ===== -->
        <h2 class="title-default">Never miss an episode</h2>
        <p class="section-description">Enter your email below to get notifications in your inbox when new episodes are posted. Staying in touch this way is highly recommended, even if you also subscribe through Stitcher, Pocketcast, or iTunes as well.</p>

        <!-- ===== FORM NEWSLETTER ===== -->
        <form action="//writethedocspodcast.us14.list-manage.com/subscribe/post?u=789787f57520ee5c3dbcfecad&amp;id=b742b398c1" method="POST" target="_blank" class="form-newsletter validate">
            <fieldset class="row">
                <div class="col-md-9 nopadding">
                    <input type="email" name="EMAIL" class="form-control form-negative" id="email-newsletter" placeholder="Your email" required />
                </div>
                <div class="col-md-3 nopadding">
                    <button class="btn btn-success btn-lg btn-block" type="submit"><i class="fa fa-paper-plane"></i></button>
                </div>
            </fieldset>
        </form>

    </div>
</section>