<!-- ===== SIDEBAR ===== -->
<div class="col-md-4">

    <!-- ===== PODCAST SIDEBAR ===== -->
    <div class="page-sidebar">

        <!-- ===== SIDEBAR WIDGET ===== -->
        <div class="sidebar-widget">
            <h2 class="title-separator">Share this podcast</h2>
            <ul class="social-list colored">
                <li class="social-item facebook"><a href="https://www.facebook.com/sharer/sharer.php?u=http://www.reidark.com.br/themes/soundcast" target="_blank"><i class="fa fa-facebook"></i></a></li>
                <li class="social-item twitter"><a href="https://twitter.com/home?status=http://www.reidark.com.br/themes/soundcast" target="_blank"><i class="fa fa-twitter"></i></a></li>
                <li class="social-item slack"><a href="https://plus.google.com/share?url=http://www.reidark.com.br/themes/soundcast" target="_blank"><i class="fa fa-google-plus"></i></a></li>
                <li class="social-item email"><a href="mailto:?&subject=Soundcast - Theme" target="_blank"><i class="fa fa-envelope"></i></a></li>
            </ul>
        </div>

        {% comment %}
        <!-- ===== TAGS ===== -->
        <div class="sidebar-widget">
            <h2 class="title-separator">Tags</h2>
            <ul class="tag-list">
                <li class="tag-item"><a href="#" rel="tag">News</a></li>
                <li class="tag-item"><a href="#" rel="tag">Vacation</a></li>
                <li class="tag-item"><a href="#" rel="tag">Photography</a></li>
                <li class="tag-item"><a href="#" rel="tag">Gallery</a></li>
                <li class="tag-item"><a href="#" rel="tag">Lifestyle</a></li>
            </ul>
        </div>
{% endcomment %}

    </div>

</div>