<!-- ===== SIDEBAR ===== -->
<div class="col-md-4">

    <!-- ===== PODCAST SIDEBAR ===== -->
    <div class="page-sidebar">

        <!-- ===== SIDEBAR WIDGET ===== -->
        <div class="sidebar-widget">


            <h2 class="title-separator">Notify me of new episodes</h2>

            <form action="//writethedocspodcast.us14.list-manage.com/subscribe/post?u=789787f57520ee5c3dbcfecad&amp;id=b742b398c1" method="POST" target="_blank" class="form-newsletter validate">
                <fieldset class="row">
                    <div class="col-md-9 nopadding">
                        <input type="email" name="EMAIL" class="form-control form-negative" id="email-newsletter" placeholder="Your email" required />
                    </div>
                    <div class="col-md-3 nopadding">
                        <button class="btn btn-success btn-lg btn-block" type="submit"><i class="fa fa-paper-plane"></i></button>
                    </div>
                </fieldset>
            </form>


            <h2 class="title-separator">Share this podcast</h2>

            <div class="socialArea">

                <script src="//platform.linkedin.com/in.js" type="text/javascript"> lang: en_US</script>
                <script type="IN/Share" data-url="{{page.url | prepend: site.url}}"></script>
                <div style="clear: both;"></div>

                <a href="https://twitter.com/share" class="twitter-share-button"{count} data-text="{{page.title}}" data-via="writethedocspod" data-hashtags="writethedocs">Tweet</a>
                <div style="clear: both;"></div>

                <script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+'://platform.twitter.com/widgets.js';fjs.parentNode.insertBefore(js,fjs);}}(document, 'script', 'twitter-wjs');</script>

                <a class="email" title="Podcast recommendation" href="#" onclick="javascript:window.location='mailto:?subject=Podcast%20recommendation&body=I%20enjoyed%20this%20podcast: {{page.title}}, ' + window.location.href;"><div class="shareEmail"><span class="fa fa-envelope" fa-lg><span class="emailText"> Email</span></i></div></a>
            </div>

        </div>

        {% comment %}
        <!-- ===== TAGS ===== -->
        <div class="sidebar-widget">
            <h2 class="title-separator">Tags</h2>
            <ul class="tag-list">
                <li class="tag-item"><a href="#" rel="tag">News</a></li>
                <li class="tag-item"><a href="#" rel="tag">Vacation</a></li>
                <li class="tag-item"><a href="#" rel="tag">Photography</a></li>
                <li class="tag-item"><a href="#" rel="tag">Gallery</a></li>
                <li class="tag-item"><a href="#" rel="tag">Lifestyle</a></li>
            </ul>
        </div>
        {% endcomment %}

    </div>

</div>