img.sitelogo {
    max-width: 200px;
}

footer img {
    max-width: 200px;
}

.text-left {
    text-align: left;
}

.col-sm-6.text-left {
    clear: both;
    padding-top: 15px;
}

.sidebar-widget .form-negative {
    background-color: white;
}

.sidebar-widget .form-newsletter .form-control, .sidebar-widget .form-newsletter .btn {
    height: 50px;

}

.sidebar-widget .form-newsletter {
    padding: 0 4%;
}

.shareEmail {
    margin-top:5px;
    border: 1px solid gray;
    padding:1px 4px;
    background-color: white;
    width: 62px;
    border-radius: 3px;


}

.emailText {
    font-family: Arial;
    font-size: 12px;
    color: black;
}

div.page-content li {
    margin-bottom: 10px;
}

.page-content ul li {
    padding-left: 20px;
}

.page-header-content.text-center {
    max-width: 800px;
    margin-left: auto;
    margin-right: auto;
}

.sidebar-widget input#email-newsletter {
    color: black;
}

.favpodcasts img {
    float: left;
    padding: 20px;
    max-width: 200px;
}

img.podcastSubscribe {
    max-width: 200px;
    padding: 0px 10px 10px 0px;
    float: left;
}