
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
  "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">


<html xmlns="http://www.w3.org/1999/xhtml">
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta content="A series of events for technical writers, documentarians, and all those who write the docs." name="description" />
<meta content="Write the Docs Podcast" name="author" />
<meta content="Portland, Oregon" name="geo.placename" />

      {% if page.type == "homepage" %}
      <title>{{ page.title }} | {{ site.description | escape }}</title>

      {% else %}

    <title>{{ page.title }} | {{ site.title }}</title>

      {% endif %}
      <link href="http://netdna.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet">


      <link rel="stylesheet" href="http://www.writethedocs.org/_static/alabaster.css" type="text/css" />
    <link rel="stylesheet" href="http://www.writethedocs.org/_static/pygments.css" type="text/css" />
    <link rel="stylesheet" href="https://media.readthedocs.org/css/badge_only.css" type="text/css" />
      <link rel="stylesheet" href="/assets/css/customstyles.css" type="text/css" />


      <script type="text/javascript">
      var DOCUMENTATION_OPTIONS = {
        URL_ROOT:    '',
        VERSION:     '1.0',
        COLLAPSE_INDEX: false,
        FILE_SUFFIX: '',
        HAS_SOURCE:  true
      };
    </script>
    <script type="text/javascript" src="https://media.readthedocs.org/javascript/jquery/jquery-2.0.3.min.js"></script>
    <script type="text/javascript" src="https://media.readthedocs.org/javascript/jquery/jquery-migrate-1.2.1.min.js"></script>
    <script type="text/javascript" src="https://media.readthedocs.org/javascript/underscore.js"></script>
    <script type="text/javascript" src="https://media.readthedocs.org/javascript/doctools.js"></script>
    <script type="text/javascript" src="https://media.readthedocs.org/javascript/readthedocs-doc-embed.js"></script>
    <link rel="shortcut icon" href="http://www.writethedocs.org/_static/favicon.ico"/>
    <link rel="top" title="Write the Docs" href="#" />
    <link rel="next" title="Conferences" href="conf/" />
  
   
  <link rel="stylesheet" href="http://www.writethedocs.org/_static/custom.css" type="text/css" />
  
  
  <meta name="viewport" content="width=device-width, initial-scale=0.9, maximum-scale=0.9" />

  
  <link rel="alternate" type="application/rss+xml"  href="/itunes.rss" title="{{ site.title }}">

  <style type="text/css">
    ul.ablog-archive {list-style: none; overflow: auto; margin-left: 0px}
    ul.ablog-archive li {float: left; margin-right: 5px; font-size: 80%}
    ul.postlist a {font-style: italic;}
    ul.postlist-style-disc {list-style-type: disc;}
    ul.postlist-style-none {list-style-type: none;}
    ul.postlist-style-circle {list-style-type: circle;}
  </style>

  
<!-- RTD Extra Head -->


<link rel="canonical" href="http://podcast.writethedocs.org/" />

<link rel="stylesheet" href="https://media.readthedocs.org/css/readthedocs-doc-embed.css" type="text/css" />

<script type="text/javascript" src="http://www.writethedocs.org/_static/readthedocs-data.js"></script>

<!-- Add page-specific data, which must exist in the page js, not global -->
<script type="text/javascript">
READTHEDOCS_DATA['page'] = 'index' 		
READTHEDOCS_DATA['source_suffix'] = '.rst'
</script>

<script type="text/javascript" src="http://www.writethedocs.org/_static/readthedocs-dynamic-include.js"></script>

<!-- end RTD <extrahead> --></head>
  <body role="document">
  

    <div class="document">
      <div class="documentwrapper">
        <div class="bodywrapper">
          <div class="body" role="main">
              <h1>{{ page.title }}</h1>
{{ content }}


          </div>
        </div>
      </div>
      <div class="sphinxsidebar" role="navigation" aria-label="main navigation">
        <div class="sphinxsidebarwrapper">
<p class="logo">
  <a href="http://writethedocs.org/">
    <img class="logo" src="http://www.writethedocs.org/_static/sticker-wtd-colors.png" alt="Logo"/>
  </a>
</p>
            <br>

            <a href="/" style="font-weight: bold;"><i class="fa fa-home" aria-hidden="true"></i> WTD Podcast Home</a>
<p>
{{ site.description }}
</p>
<br>
<h3>Podcast Pages</h3>

<ul>
    {% for page in site.data.sidebar_links %}
    <li class="toctree-l1"><a class="reference internal" href="{{ page.url }}">{{ page.title }}</a></li>
    {% endfor %}
</ul>


<h3>Podcast email list</h3>

{% include tinyletter.html %}


        </div>
      </div>
      <div class="clearer"></div>
    </div>
  <div class="footer">
      <div class="container">
          <span style="float: left;">© Write the Docs 2017</span>
          <span id="social-footer" class="pull-right">
            <span><a href="mailto:conf@writethedocs.org"><i class="iconf-email"></i>conf@writethedocs.org</a></span> |
            <span><a href="https://github.com/writethedocs"><i class="iconf-github-circled-alt2"></i>GitHub</a></span> | 
            <span><a href="https://twitter.com/writethedocs"><i class="iconf-twitter-circled"></i>Twitter</a></span> | 
            <span><a href="code-of-conduct/">Code&nbsp;of&nbsp;Conduct</a></span>
          </span>
      </div>
</div>
  </body>
</html>