---
layout: default
type: homepage
---

The Write the Docs Podcast publishes discussion-style podcasts focusing on topics related to the Write the Docs community.

<h2>Recent Podcasts</h2>

<ul class="postlist">
{% for post in site.categories.podcasts %}
    <li><a class="reference internal" href="{{ post.url }}">{{ post.title}}</a> (<span class="postDate">{{ post.date | date: "%b %-d, %Y" }}</span>)</li>
{% endfor %}
</ul>
{% comment %}
<h2>Recent Meetup Recordings</h2>

<ul class="postlist">
    {% for post in site.categories.meetups %}
    <li><a class="reference internal" href="{{ post.url }}">{{ post.title}}</a> (<span class="postDate">{{ post.date | date: "%b %-d, %Y" }}</span>)</li>
    {% endfor %}
</ul>
{% endcomment %}
