---
layout: default
type: homepage
---

The Write the Docs Podcast publishes discussion-style podcasts focusing on topics related to the Write the Docs community.

<h2>Recent Podcasts</h2>


<h2>2021</h2>
<ul class="postlist">
{% for post in site.categories.y2021 %}
    <li><a class="reference internal" href="{{ post.url }}">{{ post.title}}</a> (<span class="postDate">{{ post.date | date: "%b %-d, %Y" }}</span>)</li>
{% endfor %}
</ul>

<h2>2020</h2>
<ul class="postlist">
{% for post in site.categories.y2020 %}
    <li><a class="reference internal" href="{{ post.url }}">{{ post.title}}</a> (<span class="postDate">{{ post.date | date: "%b %-d, %Y" }}</span>)</li>
{% endfor %}
</ul>

<h2>2019</h2>
<ul class="postlist">
{% for post in site.categories.y2019 %}
    <li><a class="reference internal" href="{{ post.url }}">{{ post.title}}</a> (<span class="postDate">{{ post.date | date: "%b %-d, %Y" }}</span>)</li>
{% endfor %}
</ul>

<h2>2018</h2>
<ul class="postlist">
{% for post in site.categories.y2018 %}
    <li><a class="reference internal" href="{{ post.url }}">{{ post.title}}</a> (<span class="postDate">{{ post.date | date: "%b %-d, %Y" }}</span>)</li>
{% endfor %}
</ul>

<h2>2017</h2>
<ul class="postlist">
{% for post in site.categories.y2017 %}
    <li><a class="reference internal" href="{{ post.url }}">{{ post.title}}</a> (<span class="postDate">{{ post.date | date: "%b %-d, %Y" }}</span>)</li>
{% endfor %}
</ul>

<h2>2016</h2>
<ul class="postlist">
{% for post in site.categories.y2016 %}
    <li><a class="reference internal" href="{{ post.url }}">{{ post.title}}</a> (<span class="postDate">{{ post.date | date: "%b %-d, %Y" }}</span>)</li>
{% endfor %}
</ul>



{% comment %}
<h2>Recent Meetup Recordings</h2>

<ul class="postlist">
    {% for post in site.categories.meetups %}
    <li><a class="reference internal" href="{{ post.url }}">{{ post.title}}</a> (<span class="postDate">{{ post.date | date: "%b %-d, %Y" }}</span>)</li>
    {% endfor %}
</ul>
{% endcomment %}
