{% include head.html %}

<!-- ===== MAIN ===== -->
<main id="main" class="main">

    <!-- ===== PAGE HEADER ===== -->
    <header class="page-header-podcast" style="background-image: url(assets/img/single-background.jpg)">
        <div class="page-header-inner">
            <div class="container">

                <!-- ===== BREADCRUMB ===== -->
                <ol class="breadcrumb" itemscope itemtype="http://schema.org/BreadcrumbList">
                    <li itemprop="itemListElement"><a href="index.html">Home</a></li>
                    <li itemprop="itemListElement"><a href="#">Podcast</a></li>
                </ol>

                <!-- ===== PAGE HEADER CONTENT ===== -->
                <div class="page-header-content text-center">
                    <h2>{{page.title}}</h2>
                    <p>{{page.summary}}</p>
                </div>

            </div>
        </div>
    </header>

    <!-- ===== PODCAST PLAYER ===== -->
    <div class="podcast-player">
        <div class="podcast-player-inner">
            <div class="container">
                <audio src="{{page.audio_file}}"></audio>
            </div>
        </div>
    </div>

    <!-- ===== PODCAST META ===== -->
    <div class="podcast-meta-element">
        <span class="podcast-meta-item"><i class="fa fa-calendar"></i> December 22, 2015</span>
        <span class="podcast-meta-item"><i class="fa fa-clock-o"></i> 51 minutes</span>
        <a class="podcast-meta-item" href="#"><i class="fa fa-tag"></i> Lifestyle</a>
        <a class="podcast-meta-item" href="#"><i class="fa fa-download"></i> Download (MP3)</a>
    </div>

    <!-- ===== PODCAST LINKS ===== -->
    <div class="podcast-links">
        <div class="container">
            <ul class="podcast-links-list">
                <li><a href="#" class="btn btn-success btn-sm">00:51</a> <span class="podcast-link-cite">Jump intro</span></li>
                <li><a href="#" class="btn btn-success btn-sm">02:10</a> <a href="#" target="_blank" class="podcast-link-cite">The Envato Market</a></li>
                <li><a href="#" class="btn btn-success btn-sm">05:25</a> <a href="#" target="_blank" class="podcast-link-cite">How to upload a Theme</a></li>
                <li><a href="#" class="btn btn-success btn-sm">07:32</a> <span class="podcast-link-cite">A basic comment without link</span></li>
                <li><a href="#" class="btn btn-success btn-sm">09:00</a> <a href="#" target="_blank" class="podcast-link-cite">Learning from the basics</a></li>
                <li><a href="#" class="btn btn-success btn-sm">12:15</a> <a href="#" target="_blank" class="podcast-link-cite">http://themeforest.net/</a></li>
            </ul>
        </div>
    </div>

    <!-- ===== SINGLE PAGE CONTENT ===== -->
    <div class="section-negative">
        <div class="container">

            <div class="row mt-70 mb-50">


                <!-- ===== PODCAST TEXT CONTENT ===== -->
                <div class="col-md-8 mb-50">

                    <!-- ===== PAGE MAIN CONTENT ===== -->
                    <div class="page-content">
                        {{content}}
                    </div>

                    <!-- ===== HR ===== -->
                    <hr />


                </div>

                {% include sidebar.html %}

            </div>

        </div>
    </div>

</main>

{% include footer.html %}

</body>

</html>