{% include head.html %}

<!-- ===== MAIN ===== -->
<main id="main" class="main">

    <!-- ===== PAGE HEADER ===== -->
    <header class="page-header-podcast" style="background-image: url(assets/img/single-background.jpg)">
        <div class="page-header-inner">
            <div class="container">

                <!-- ===== BREADCRUMB ===== -->
                <ol class="breadcrumb" itemscope itemtype="http://schema.org/BreadcrumbList">
                    <li itemprop="itemListElement"><a href="index.html">Home</a></li>
                    <li itemprop="itemListElement"><a href="#">Podcast</a></li>
                </ol>

                <!-- ===== PAGE HEADER CONTENT ===== -->
                <div class="page-header-content text-center">
                    <h2>Episode #1 - This Week in Tech Comm</h2>
                    <p>{{page.summary}}</p>
                </div>

            </div>
        </div>
    </header>

    <style>
        div.container {
            margin-left: auto;
            margin-right: auto;
            max-width: 853px;
        }
    </style>
    <!-- ===== PODCAST PLAYER ===== -->
    <div class="podcast-player">
        <div class="podcast-player-inner">
            <div class="container">
                <iframe width="853" height="480" src="https://www.youtube.com/embed/o1_TXiltVfA" frameborder="0" allowfullscreen></iframe>
            </div>
        </div>
    </div>

    <!-- ===== PODCAST META ===== -->
    <div class="podcast-meta-element">
        <span class="podcast-meta-item"><i class="fa fa-calendar"></i> December 21, 2015</span>
        <span class="podcast-meta-item"><i class="fa fa-clock-o"></i> 37 minutes</span>
        <a class="podcast-meta-item" href="#"><i class="fa fa-tag"></i> News</a>
        <a class="podcast-meta-item" href="#"><i class="fa fa-download"></i> Download (MP3)</a>
    </div>

    <!-- ===== SINGLE PAGE CONTENT ===== -->
    <div class="section-negative">
        <div class="container">

            <div class="row mt-70 mb-50">

                <!-- ===== PODCAST TEXT CONTENT ===== -->
                <div class="col-md-8 mb-50">

                    <!-- ===== PAGE MAIN CONTENT ===== -->
                    <div class="page-content">
                        {{content}}
                    </div>

                    <!-- ===== HR ===== -->
                    <hr />


                </div>

{% include sidebar.html %}

            </div>

        </div>
    </div>

</main>



{% include footer.html %}

</body>

</html>